[Desktop Entry]
Version=1.0
Type=Application
Name=vkCommander
Comment=vkCommander is a Desktop Manager for Valkey databases
Exec=vk_commander
Icon=dev.oswald.vkCommander
Terminal=false
Categories=Development;
StartupNotify=true
MimeType=application/x-valkey;
Keywords=valkey;database;insight;redis;
