[Desktop Entry]
Version=1.0
Type=Application
Name=Valkey Insight
Comment=A Valkey insights application built with Rust and egui
Exec=valkey_insight
Icon=dev.oswald.ValkeyInsight
Terminal=false
Categories=Development;
StartupNotify=true
MimeType=application/x-valkey;
Keywords=valkey;database;insight;redis;
