[Desktop Entry]
Version=1.0
Type=Application
Name=Valkey Insight
Comment=A Valkey insight application built with Rust and egui
Exec=/usr/bin/valkey_insight
Icon=valkey_insight
Terminal=false
Categories=Development;
StartupNotify=true
MimeType=application/x-valkey;
Keywords=valkey;database;insight;redis;
