[Desktop Entry]
Version=1.0
Type=Application
Name=Valkey Insight
Comment=Valkey Insight is a graphical user interface for managing Valkey databases.
Exec=/usr/bin/valkey-insight
Icon=valkey_insight
Terminal=false
Categories=Development;
StartupNotify=true
MimeType=application/x-valkey;
Keywords=valkey;database;insight;redis;
